
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: brown;
}
.list-product {
    border: 2px solid white;
    list-style: none;
}
.list-elem {
    background-color: rgb(240, 142, 142);
}
.list-elem-w {
    background-color: white;
}
 .parrafoChat {
    color: white;
    list-style: none;
} 
